# Below fields are used for local host
DATABASE="YOUR DB NAME"
USER="YOUR USER NAME"
PASSWORD="YOUR PASSWORD"
PORT="YOUR PORT NUMBER"


# Below field is for cloud database
DB_URL="Paste the database link from render"